.Typography {
    line-height: 120%;
}

.h1 {
    font-size: var(--font-h1);
}

.h2 {
    font-size: var(--font-h2);
}

.h3 {
    font-size: var(--font-h3);
}

.h4 {
    font-size: var(--font-h4);
}

.h5 {
    font-size: var(--font-h5);
}

.h6 {
    font-size: var(--font-h6);
}

.p {
    font-size: var(--font-p);
}

.center {
    text-align: center;
}

.inherit {
    text-align: inherit;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.noWrap {
    white-space: nowrap;
}

.fullWidth {
    width: 100%;
}

.xs {
    font: var(--font-xs);
}

.sm {
    font: var(--font-s);
}

.md {
    font: var(--font-m);
}

.lg {
    font: var(--font-l);
}

.xl {
    font: var(--font-xl);
}