.FileCard {
    &:hover .icon {
        transition: all 0.2s;
        fill: var(--primary-color-hover);
    }

    &:hover .label {
        transition: all 0.2s;
        color: var(--primary-color-hover);
    }
}

.tile {
    display: grid;
    place-items: center;
    cursor: pointer;
    gap: 20px;
    height: 70px;
}

.list {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    padding: 0 10px;
    gap: 20px;
    cursor: pointer;

    .icon {
        width: 30px;
        height: 30px;
    }

    .label {
        flex: 0 0 30%;
    }

    .size {
        flex: 0 0 10%;
    }

    .date {
        flex: 0 0 15%;
        color: var(--soft-color);
    }
}