.tile {
    display: grid;
    height: 4rem;
    cursor: pointer;
    gap: 0.5rem;
    place-items: center;
}

.list {
    display: flex;
    height: 3rem;
    align-items: center;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    gap: 1.5rem;

    .icon {
        width: 2rem;
        height: 2rem;
    }

    .label {
        flex: 0 0 30%;
    }

    .size {
        flex: 0 0 10%;
    }

    .date {
        flex: 0 0 15%;
    }
}

.FileCard {
    &:hover .icon {
        transition: all 0.2s;
    }

    &:hover .label {
        transition: all 0.2s;
    }
}