.FileList {
    padding-top: 20px;

}


.tile {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 100px));
    gap: 20px;
    flex-wrap: wrap;
}

.list {
    display: grid;

    &> :nth-child(odd) {
        background: #aeaeae0f;
    }
}