.Flex {
    display: flex;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyCenter {
    justify-content: center;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyBetween {
    justify-content: space-between;
}

.justifyAround {
    justify-content: space-around;
}

.alignStart {
    align-items: start;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: end;
}

.directionRow {
    flex-direction: row;
}

.directionColumn {
    flex-direction: column;
}

.gap2 {
    gap: 0.125rem;
}

.gap4 {
    gap: 0.25rem;
}

.gap8 {
    gap: 0.5rem;
}

.gap16 {
    gap: 1rem;
}

.gap32 {
    gap: 2rem;
}

.fullWidth {
    width: 100%;
}