.text {
    &::before {
        content: 'skeleton';
        opacity: 0;
        font-size: inherit;
    }
}

.rectangular {
    border-radius: none;
}

.circular {
    border-radius: 100%;
}

.rounded {
    border-radius: 5px;
}

.pulse {
    animation: pulse 0.8s linear infinite alternate;
}

.wave {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background: var(--skeleton-color-from);
    width: 100%;

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(90deg,
                rgba(#fff, 0) 0,
                rgba(#fff, 0.2) 20%,
                rgba(#fff, 0.5) 60%,
                rgba(#fff, 0));
        animation: shimmer 1s infinite;
        content: '';
    }

    @keyframes shimmer {
        100% {
            transform: translateX(100%);
        }
    }
}

.disabled {
    background: var(--skeleton-color-to);
}

@keyframes pulse {
    0% {
        background-color: var(--skeleton-color-from);
    }

    100% {
        background-color: var(--skeleton-color-to);
    }
}