.FileController {
    display: flex;
    width: var(--sidebar-width);
    max-width: 16rem;
    flex-direction: column;
    padding: 0.5rem;
    gap: 2rem;
}

.icon {
    width: var(--sidebar-width);
    height: 16rem;
}