.Button {
    cursor: pointer;
    color: var(--primary-color);
    padding: 6px 15px;
    background: none;
    font: var(--font-m);
    color: var(--secondary-color);
    background: var(--inverted-bg-color);
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    transition: 0.3s background ease;

    &:hover {
        background: var(--inverted-bg-color-hover);
    }
}