.Button {
    position: relative;
    overflow: hidden;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: var(--inverted-bg-color);
    color: var(--secondary-color);
    cursor: pointer;
    font: var(--font-m);
    transition: 0.3s opacity ease;

    &:hover {
        opacity: 0.8;
    }
}

.primary {
    background: var(--secondary-color);
    color: var(--soft-color);

    .ripple span {
        background-color: var(--soft-color);
    }
}

.secondary {
    background: var(--primary-color);
    color: var(--soft-color);

    .ripple span {
        background-color: var(--soft-color);
    }


}

.outlined {
    border: 0.1rem solid var(--secondary-color);
    background: var(--bg-color);
    color: var(--secondary-color);

    .ripple span {
        background-color: var(--secondary-color);
    }
}

.clear {
    padding: 0;
    border: none;
    border-radius: none;
    margin: 0;
    background: none;
}

.disabled {
    cursor: auto;
    opacity: 0.5;

    &:hover {
        opacity: 0.5;
    }
}

.small {
    font: var(--font-m);
}

.medium {
    font: var(--font-l);
}

.large {
    font: var(--font-xl);
}

.square {
    padding: 0;
}


.square.small {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.medium {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.large {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.fullWidth {
    width: 100%;
}