.input {
    width: initial;
    min-height: 2rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    outline: none;
    transition: 0.5s border ease-in-out;

    &::placeholder {
        color: var(--disabled-color);
    }
}

.primary {
    border: 0.1rem solid var(--secondary-color);
    background-color: var(--bg-color);
    color: var(--primary-color);

    &:focus {
        border: 0.1rem solid var(--accent-color);
    }
}

.fullWidth {
    width: 100%;
}

.small {
    font: var(--font-m);
}

.medium {
    font: var(--font-l);
}

.large {
    font: var(--font-xl);
}