.RippleContainer {
    position: absolute;
    inset: 0;

    span {
        position: absolute;
        border-radius: 100%;
        animation-name: ripple;
        background: var(--secondary-color);
        opacity: 0.55;
        transform: scale(0);
    }

    @keyframes ripple {
        to {
            opacity: 0;
            transform: scale(2);
        }
    }
}