.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.soft {
    color: var(--soft-color);
}

.accent {
    color: var(--accent-color);
}

.disabled {
    color: var(--disabled-color);
}

.danger {
    color: var(--danger-color);
}