.wrapper {
    display: grid;
    gap: 1rem;
}

.btn {
    margin-left: auto;
}

.card {
    padding: 2rem 3rem;
    border-radius: 0;
}

.title {
    max-width: 16rem;
}

.form {
    padding: 1rem;
}

.privacy {
    max-width: 18rem;
}