.primary {
    fill: var(--primary-color);
    stroke: var(--secondary-color);
}

.secondary {
    fill: var(--secondary-color);
    stroke: var(--primary-color);
}

.accent {
    fill: var(--accent-color);
}

.soft {
    fill: var(--soft-color);
}