.app_dark_theme {
    --bg-color: #006CDC;
    --inverted-bg-color: #F1F7FD;

    --bg-color-hover: #F1F7FD;
    --inverted-bg-color-hover: #006cdc;

    --primary-color: #F1F7FD;
    --secondary-color: #006cdc;
    --accent-color: #0099FF;

    --primary-color-hover: #F1F7FD;
    --secondary-color-hover: #006cdc;
    --accent-color-hover: #0099FF;
}