.app_light_theme {
    --bg-color: #F1F7FD;
    --inverted-bg-color: #006CDC;

    --bg-color-hover: #F1F7FD;
    --inverted-bg-color-hover: #3596fd;

    --primary-color: #006cdc;
    --secondary-color: #F1F7FD;
    --accent-color: #0099FF;
    --soft-color: #000000;

    --primary-color-hover: #3596fd;
    --secondary-color-hover: #d7dce1;
    --accent-color-hover: #0099FF;
}