.app_light_theme {
    // Backgrounds
    --bg-color: #f1f7fd;
    --inverted-bg-color: #000;

    // Colors
    --primary-color: #000;
    --secondary-color: #006cdc;
    --accent-color: #09f;
    --soft-color: #f1f7fd;
    --disabled-color: #6c757d;

    // Skeleton
    --skeleton-color-from: hsl(200deg 20% 80%);
    --skeleton-color-to: hsl(200deg 20% 95%);
}