@font-face {
	font-family: "GT America";
	src: url("fonts/gt-america.otf");
}
@font-face {
	font-family: "GT America";
	src: url("fonts/gt-america-bold.otf");
	font-weight: bold;
}

@font-face {
	font-family: "Pangram Sans";
	src: url("fonts/pangram-sans.ttf");
}

body {
	font-family: "GT America", sans-serif;
}

:root {
	--color-accent: #2b4385;
	--color-buy: #feefaa;
	--color-gray-7: #ccc;
	--color-gray-5: #555;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	background: white;
	box-shadow: 0 -0.5rem 2rem rgba(0, 0, 0, 0.4);
	z-index: 2;
}
.nav-top {
	width: min(600px, 90vw);
	margin: 1rem auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-top--main {
	flex-grow: 1;
}
.nav-top--geoicon {
	margin-right: 0.75rem;
}
.nav--location {
	font-weight: bold;
	white-space: nowrap;
	text-decoration: underline;
	text-decoration-color: var(--color-gray-7);
	line-height: 1.2;
}
.nav--location > i {
	color: #222;
}
.nav--est-delivery {
	margin: 0 auto;
	overflow-x: hidden;
	text-overflow: ellipsis;
	opacity: 0.5;
	font-size: 0.875rem;
}

.nav-top--icnbtn {
	margin-left: 1.15rem;
}

.nav-scroller {
	width: 100vw;
	overflow-x: scroll;
	white-space: nowrap;
	margin-bottom: 1rem;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.nav-scroller--item {
	display: inline-block;
	padding: 0.2rem 1rem;
	background: #eee;
	width: fit-content;
	border-radius: 100rem;
	color: var(--color-gray-5);
	margin-bottom: 1px;
}
.nav-scroller--item.active {
	/* background: #8e5e35; */
	background: var(--color-accent);
	font-weight: bold;
	color: white;
}
.nav-scroller--item:first-child {
	margin-left: 5vw;
}
.nav-scroller--item:last-child {
	margin-right: 5vw;
}
.nav-scroller::-webkit-scrollbar {
	display: none;
}

.toolbar {
	position: fixed;
	display: flex;
	justify-content: space-around;
	bottom: 0;
	left: 0;
	width: 100vw;
	background: white;
	box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
	z-index: 2;
	padding: 0.75rem 0;
}

.toolbar--tab {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.toolbar--tab > i {
	font-size: 1.25rem;
	line-height: 0.5;
}
.toolbar-tab-name {
	font-size: 0.75rem;
	opacity: 0.75;
}
.toolbar--tab.active .toolbar-tab-name {
	font-weight: bold;
	opacity: 1;
}

.container {
	padding: 9rem 0 6rem;
	width: min(600px, 90vw);
	margin: 0 auto;
}

.section-heading {
	font-family: "Pangram Sans";
	font-weight: normal;
	padding-top: 1rem;
	margin-top: 2.5rem;
	font-size: 2rem;
	border-top: 1px solid #eee;
}
.section-heading:first-child {
	padding-top: 0;
	margin-top: 0;
	border: none;
}
.section-subtitle {
	line-height: 1.3;
	color: #222;
	margin-bottom: 0.5rem;
}

.item-fw {
	display: flex;
	gap: 0.75rem;
	align-items: center;
}

.item-fw--image {
	width: 8rem;
	height: 8rem;
	flex-shrink: 0;
}
.item-fw > img {
	width: 100%;
}

.item-fw--top {
	line-height: 1.1;
	margin-bottom: 0.25rem;
}
.item-fw--subtitle {
	display: inline;
	font-size: 0.875rem;
	opacity: 0.5;
}

.item-fw--title {
	display: inline;
	font-family: "Pangram Sans";
	font-weight: normal;
	font-size: 1.2rem;
	/* color: #f60; */
}
.item-fw--description {
	font-size: 0.875rem;
	line-height: 1.3;
	color: var(--color-gray-5);
}

.button-buy {
	width: 100%;
	background: var(--color-buy);
	padding: 0.5rem 1.5rem;
	border-radius: 100rem;
	margin-bottom: 1.5rem;
}
.button-buy--pcs {
	color: #888;
	mix-blend-mode: luminosity;
}

.button-buy.out-of-stock {
	background: transparent;
	border: solid 2px #eee;
	color: #999;
}

.button-buy.in-cart {
	background: #eee;
	display: flex;
	justify-content: space-between;
	padding: 0 0.2rem;
}
.in-cart--details {
	padding: 0.5rem 0.2rem;
}
.in-cart--minus {
	border-right: solid 2px #ddd;
	padding: 0.5rem 1.2rem;
}
.in-cart--plus {
	border-left: solid 2px #ddd;
	padding: 0.5rem 1.2rem;
}
