.Divider {
    width: 100%;
}

.small {
    height: 0.1rem;
}

.medium {
    height: 0.2rem;
}

.large {
    height: 0.3rem;
}

.primary {
    background: var(--primary-color);
}

.secondary {
    background: var(--secondary-color);
}

.soft {
    background: var(--soft-color);
}

.accent {
    background: var(--accent-color);
}

.disabled {
    background: var(--disabled-color);
}