.Navbar {
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    background-color: black;
    background-color: var(--soft-color);
}

.container {
    display: flex;
    justify-content: space-between;
}

.authBtn {}

.rightSide {
    display: flex;
    align-items: center;
    gap: 20px;
}