.Navbar {
    height: var(--navbar-height);
    background: var(--soft-color);
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: var(--sidebar-width) 1fr;
    gap: 32px;
}