.cardWrapper {
    width: 100%;
    background: var(--inverted-bg-color);
    max-width: 300px;
    display: grid;
    place-items: center;
}

.card {
    width: 100%;
    display: grid;
    place-items: center;
    border-radius: 10px;
    padding: 10px;
}